/* common css */
body{
    font-family: 'Open Sans', sans-serif;
    color: #474747;
} 
header{
    background-color: #fff8f3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.allbtn{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
    
    }
/* nav related */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.banner{
    padding: 30px 30px 0px 200px;
     display:flex;
     align-items: center; 
     justify-content: space-between;
}
h3{
    color:#474747;
   font-size:45px;
   font-weight: 600;
   width: 177px;
   height: 61px;
   margin-bottom: 5px;
}
h1
{ 
    font-size:70px;
    font-weight: 700;
    width: 465px;
    height: 100px;
    color: #181818;
    margin: 0 0 0;
    
}
.details{
    margin-top: 0px;
    padding: 0px;
    max-width: 585px;
}
.profile{
    height: 600px;
    width: 500px;
    margin-left: 160px;
}
/* header end */

/* main start */

.main-container{
    text-align: center;
    padding: 130px 150px;
    background-color:#fff8f3;
    margin:130px 200px;
}

h2{
   margin: auto;
   color: #181818;
}
.description{
    color:#757575;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color:#757575;  
}
.whatido{
    text-align: center;
}
#p{
    padding: 30px 345px 50px 345px ;
    color:#757575; 
}
.skills{
    display: flex;
    gap: 24px;
    padding: 130px 170px;

}
.skill{
    padding: 30px;
    text-align: left;
    background-color:#ffffff;   
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius:5px;
}
.someskill{
    color: #757575;
}
  

.resume{
    text-align: center;
    margin: 130px 0 130px 0;
  
}
.E{
    color:#474747;
   font-weight: 700;
    font-size: 20px;
    margin: 230px;
}
.sub {
    display: flex;
    max-width: 511px;
    flex-direction: column;
    color: #757575;
    margin: 230px;
}
  .title {
    color: var(--Dark-02, #474747);
    width: 100%;
    font-family: 700;
    font-size: 15px;
  }
  .downloadcv{
    text-align: center;
    margin-bottom: 113px;
  }
  footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 150px;
    gap: 100px;
  }
 .please{
    color:#474747;
    text-align:left

 }
.footer-coloum{
    width: 50%;
    margin-bottom: 24px;
    
} 
.form{
    background-color:#ffffff;
height:44px;
width: 300px;
border-radius:5px;
margin-bottom: 24px;
border-style: none;
}
textarea{
    background-color:#ffffff;
height:180px;
width: 300px;
border-radius:5px;
border-style: none;
}